

body{
    background-color:#352f44;
    text-align:center;
    color:whitesmoke;
    font-family:'Ysabeau Infant', sans-serif;
}

h1{
    font-size: 70px;
    font-weight: bold;
}

h3{
    color:#113f67;
}

p{
    font-size: 25px;
}

.container{
    max-width: 900px;
    margin:100px auto;
    padding:25px;
    border-radius: 5px;
    background-color: #a2a8d3;
}

button{
border-radius: 70%;
background-color: #113f67;
color: white;
border: none;
padding: 5px;
font-size: 40px;
height: 70px;
width: 70px;
box-shadow: 0 2px 4px black;
cursor: pointer;
transition: ease-in-out;
}

button:hover{
    color:#00bbf0;
    cursor: pointer;
}
